{% extends 'website/base.html' %}
{% load static %}
{% block title %}
  TopGrade
{% endblock %}

{% block content %}
  <style>
    .big-circle {
      animation: Rotate 20s linear infinite;
      -webkit-animation: Rotate 20s linear infinite;
    }
    
    .icon-block {
      position: absolute;
    }
    
    .icon-block img {
      animation: Rotate-reverse 20s linear infinite;
      -webkit-animation: Rotate-reverse 20s linear infinite;
    }
    
    .icon-block:first-child {
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    
    .icon-block:nth-child(2) {
      top: 50%;
      right: 0;
      transform: translate(50%, -50%);
      -webkit-transform: translate(50%, -50%);
    }
    
    .icon-block:nth-child(3) {
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      -webkit-transform: translate(-50%, 50%);
    }
    
    .icon-block:nth-child(4) {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    
    /* circle content */
    .circle {
      animation: circle-rotate 20s linear infinite;
      -webkit-animation: circle-rotate 20s linear infinite;
      transform: translate(-50%, -50%) rotate(45deg);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
    }
    
    .circle .icon-block img {
      animation: img-rotate 20s linear infinite;
      -webkit-animation: img-rotate 20s linear infinite;
    }
    
    /* center logo */
    .center-logo {
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    
    /* keyframe animation */
    @keyframes Rotate {
      from {
        transform: rotate(0deg);
      }
    
      to {
        transform: rotate(360deg);
      }
    }
    
    @-webkit-keyframes Rotate {
      from {
        -webkit-transform: rotate(0deg);
      }
    
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    
    @keyframes Rotate-reverse {
      from {
        transform: rotate(360deg);
      }
    
      to {
        transform: rotate(0deg);
      }
    }
    
    @-webkit-keyframes Rotate-reverse {
      from {
        -webkit-transform: rotate(360deg);
      }
    
      to {
        -webkit-transform: rotate(0deg);
      }
    }
    
    @keyframes circle-rotate {
      from {
        transform: translate(-50%, -50%) rotate(45deg);
      }
    
      to {
        transform: translate(-50%, -50%) rotate(405deg);
      }
    }
    
    @-webkit-keyframes circle-rotate {
      from {
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
      }
    
      to {
        -webkit-transform: translate(-50%, -50%) rotate(405deg);
      }
    }
    
    @keyframes img-rotate {
      from {
        transform: rotate(-45deg);
      }
    
      to {
        transform: rotate(-405deg);
      }
    }
    
    @-webkit-keyframes img-rotate {
      from {
        -webkit-transform: rotate(-45deg);
      }
    
      to {
        -webkit-transform: rotate(-405deg);
      }
    }
  </style>

  <section class="relative bg-gradient-to-br from-[#d97706] to-[#4d2c0d] overflow-hidden">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-2 items-center min-h-[calc(100vh-120px)] px-8 py-20 lg:py-0">
      <div class="main relative mx-auto h-[300px] w-[300px] lg:h-[450px] lg:w-[450px] md:order-2">
        <div class="big-circle z-20 h-full w-full relative border-4 border-[#d97706] rounded-full flex items-center justify-center">
          <div class="icon-block w-[48px] h-[48px] lg:h-[56px] lg:w-[56px] rounded-full flex items-center justify-center bg-gradient-to-b from-[#d97706] to-orange-600">
            <i class="fa-solid fa-briefcase text-xl lg:text-2xl text-white"></i>
          </div>
          <div class="icon-block w-[48px] h-[48px] lg:h-[56px] lg:w-[56px] rounded-full flex items-center justify-center bg-gradient-to-b from-[#d97706] to-orange-600">
            <i class="fa-solid fa-gamepad text-xl lg:text-2xl text-white"></i>
          </div>
          <div class="icon-block w-[48px] h-[48px] lg:h-[56px] lg:w-[56px] rounded-full flex items-center justify-center bg-gradient-to-b from-[#d97706] to-orange-600">
            <i class="fa-solid fa-laptop-code text-xl lg:text-2xl text-white"></i>
          </div>
          <div class="icon-block w-[48px] h-[48px] lg:h-[56px] lg:w-[56px] rounded-full flex items-center justify-center bg-gradient-to-b from-[#d97706] to-orange-600">
            <i class="fa-solid fa-laptop-medical text-xl lg:text-2xl text-white"></i>
          </div>
        </div>
        <div class="circle z-20 absolute top-1/2 left-1/2 w-3/4 h-3/4 border-4 border-[#d97706] rounded-full">
          <div class="icon-block w-[48px] h-[48px] lg:h-[56px] lg:w-[56px] rounded-full flex items-center justify-center bg-gradient-to-b from-[#d97706] to-orange-600">
            <i class="fas fa-mobile-alt text-xl lg:text-2xl text-white"></i>
          </div>
          <div class="icon-block w-[48px] h-[48px] lg:h-[56px] lg:w-[56px] rounded-full flex items-center justify-center bg-gradient-to-b from-[#d97706] to-orange-600">
            <img src="https://www.yudiz.com/codepen/animated-portfolio/blockchain-icon.png" alt="blockchain icon" class="mx-auto w-5/6" />
          </div>
          <div class="icon-block w-[48px] h-[48px] lg:h-[56px] lg:w-[56px] rounded-full flex items-center justify-center bg-gradient-to-b from-[#d97706] to-orange-600">
            <img src="https://www.yudiz.com/codepen/animated-portfolio/arvr-icon.png" alt="ar-vr icon" class="mx-auto w-5/6" />
          </div>
          <div class="icon-block w-[48px] h-[48px] lg:h-[56px] lg:w-[56px] rounded-full flex items-center justify-center bg-gradient-to-b from-[#d97706] to-orange-600">
            <img src="https://www.yudiz.com/codepen/animated-portfolio/artificial-intelligence-icon.png" alt="artificial intelligence icon" class="mx-auto w-5/6" />
          </div>
        </div>
        <div class="center-logo overflow-hidden absolute top-1/2 left-1/2 rounded-full">
          <img src="{% static 'assets/website/images/student.webp' %}" alt="logo" width="600" height="400" />
        </div>
      </div>

      <!-- Text Column (Mobile: below, Desktop: left) -->
      <div class="text-white text-center lg:text-left z-20 mt-6 lg:mt-0 lg:mb-12 order-2 lg:order-1">
        <h1 class="text-3xl lg:text-5xl font-bold leading-snug lg:max-w-xl text-white">Empowering the best learning experience <br /> with top industry mentors.</h1>
        <p class="mt-6 text-base lg:text-xl text-white/80 max-w-lg mx-auto lg:mx-0">Transform how students and educators connect, learn and succeed - anytime, anywhere</p>
        <div class="mt-10">
          <!-- MOBILE BUTTON -->
          <a href="#ExploreMobile" class="inline-block bg-gradient-to-r from-[#ef7d00] to-orange-500 text-white font-bold py-3 px-8 rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300 lg:hidden">Explore Programs</a>
          <!-- DESKTOP BUTTON -->
          <a href="#ExploreDesktop" class="hidden lg:inline-block bg-gradient-to-r from-[#ef7d00] to-orange-500 text-white font-bold py-3 px-8 rounded-lg shadow-lg transform hover:scale-105 transition-transform duration-300">Explore Programs</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
